<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.GuruDao">
    <!--添加用户-->
    <insert id="insert" parameterType="com.baizhi.entity.Guru">
        insert into t_guru values(#{id},#{name},#{headPic},#{gender})
    </insert>
    <!--分页查询用户信息-->
    <select id="findBypage" resultType="com.baizhi.entity.Guru">
      select id,name,headPic,gender from t_guru limit #{start},#{rows}
    </select>
    <!--查询总条数-->
    <select id="findTotals" resultType="long">
      select count(id) from t_guru
    </select>
    <!--根据id 查询一条数据-->
    <select id="queryone" resultType="com.baizhi.entity.Guru">
      select id,name,headPic,gender
      from t_guru
      where id=#{id}
    </select>

    <!-- 根据id删除用户信息-->
    <delete id="delete" parameterType="com.baizhi.entity.Guru">
        delete from t_guru where id=#{id}
    </delete>

    <!--根据数组删除多条数据-->
    <delete id="deleteAll" parameterType="com.baizhi.entity.Guru">
        delete from t_guru where id in
        <foreach collection="array" open="(" item="ids" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <!--修改数据-->
    <update id="update" parameterType="com.baizhi.entity.Guru">
      update t_guru set id=#{id},name=#{name},headPic=#{headPic},gender=#{gender}
      where id=#{id}
</update>
</mapper>
